@import 'tailwindcss';

@theme {
  /* 🎨 Colors */
  --color-primary: #7c3aed;
  --color-primary-light: #a78bfa;
  --color-primary-dark: #5b21b6;

  --color-secondary: #3b82f6;
  --color-secondary-light: #60a5fa;
  --color-secondary-dark: #1d4ed8;

  --color-dark-100: #1a1f4a;
  --color-dark-200: #14183a;
  --color-dark-300: #0b0f2a;
  --color-dark-400: #070a1a;

  --color-text-primary: #ffffff;
  --color-text-secondary: #9ca3af;

  --color-card: #11152f;
  --color-border: rgba(255, 255, 255, 0.05);

  /* 🔤 Fonts */
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;

  --animate-pulse-mine: pulse1 2s infinite;
  @keyframes pulse1 {
    0%,
    100% {
      box-shadow: 0 0 0 3px var(--color-primary);
    }
    50% {
      box-shadow: 0 0 0 6px var(--color-primary-light);
    }
  }
}
